[submodule "vim/vimfiles/bundle/rust.vim"]
	path = vim/vimfiles/pack/rust/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "vim/vimfiles/bundle/nerdcommenter"]
	path = vim/vimfiles/pack/nerdcommenter/start/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/vimfiles/bundle/lh-vim-lib"]
	path = vim/vimfiles/pack/let-modeline/lib/lh-vim-lib
	url = git@github.com:LucHermitte/lh-vim-lib.git
